body{
    display: flex;
}


#div1 {
background-color: red;
width: 200px;
height: 200px;
justify-content: start;
}

#div2 {
    background-color: green;
    width: 200px;
    height: 200px;
  
justify-content: end;
    }

#div3 {
        background-color: blue;
        width: 200px;
height: 200px;
display: flex;
display: flex;
justify-content: end;
        }  


#div4 {
 background-color: purple;
 width: 200px;
 height: 200px;
display: flex;
justify-content: flex-start
    }      
